<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
  <h2 class="text-5xl font-bold my-5">About Us</h2>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur alias
    sit, numquam accusamus, minima ducimus aliquid quasi libero dolor, fugiat
    tempore quas modi praesentium iusto error magnam id corrupti eaque. Laborum
    itaque, cupiditate saepe alias fugit molestiae praesentium voluptates
    exercitationem. Voluptatibus, distinctio consectetur! Doloremque assumenda,
    accusamus voluptatibus nam quod dolor!
  </p>
</section>
