---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de nosotros">
  <h1>About</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, eos
    qui! At possimus unde quae iusto impedit aliquid repudiandae voluptates
    adipisci reiciendis, maxime doloremque modi officiis tenetur tempora vero ex
    ratione nesciunt corporis quibusdam fugiat perspiciatis, placeat ea!
    Repellendus dolore ut consectetur voluptates esse quis enim praesentium
    quam. Eum unde eveniet quam error fugiat. Accusantium, odio? Doloremque
    praesentium dolores placeat ipsum vitae nesciunt exercitationem temporibus
    magnam illum culpa itaque officiis at perspiciatis odio nulla, consequatur
    voluptate recusandae quae! Error esse aspernatur doloribus est explicabo
    reiciendis delectus, nostrum magni cum odio voluptates, tempore hic, facere
    illo natus architecto accusantium inventore reprehenderit?
  </p>
</Layout>
